<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlewin.system.mapper.SysLogOperationQueryMapper">

    <select id="selectOperationLogPage" resultType="com.littlewin.system.domain.vo.OperationLogVO">
        SELECT
            id, user_id, username, module, action_type, business_id,
            description, request_url, request_method, ip_address,
            status, error_msg, create_time
        FROM sys_log_operation
        <where>
            <if test="query.module != null and query.module != ''">
                AND module = #{query.module}
            </if>
            <if test="query.actionType != null">
                AND action_type = #{query.actionType}
            </if>
            <if test="query.username != null and query.username != ''">
                AND username LIKE CONCAT('%', #{query.username}, '%')
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
            <if test="query.startTime != null">
                AND create_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND create_time &lt;= #{query.endTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
