<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlewin.system.mapper.SysUserMapper">

    <select id="selectUserPageList" resultType="com.littlewin.system.domain.vo.UserListVO">
        SELECT
        u.user_id,
        u.nickname,
        u.status,
        u.create_time,
        a.auth_type,
        a.identifier,
        i.gender,
        i.phone,
        i.city
        FROM sys_user u
        LEFT JOIN user_auth a ON u.user_id = a.user_id
        LEFT JOIN user_info i ON u.user_id = i.user_id
        <if test="query.roleId != null">
            LEFT JOIN sys_user_role ur ON u.user_id = ur.user_id
        </if>
        <where>
            u.del_flag = 0
            <if test="query.authType != null and query.authType != ''">
                AND a.auth_type = #{query.authType}
            </if>
            <if test="query.identifier != null and query.identifier != ''">
                AND a.identifier LIKE CONCAT('%', #{query.identifier}, '%')
            </if>
            <if test="query.gender != null">
                AND i.gender = #{query.gender}
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND i.phone LIKE CONCAT('%', #{query.phone}, '%')
            </if>
            <if test="query.city != null and query.city != ''">
                AND i.city = #{query.city}
            </if>
            <if test="query.roleId != null">
                AND ur.role_id = #{query.roleId}
            </if>
            <if test="query.status != null">
                AND u.status = #{query.status}
            </if>
            <if test="query.startTime != null and query.startTime != ''">
                AND u.create_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null and query.endTime != ''">
                AND u.create_time &lt;= #{query.endTime}
            </if>
        </where>
        ORDER BY u.create_time DESC
    </select>

    <select id="selectUserDetailsById" resultType="com.littlewin.system.domain.vo.UserDetailsVO">
        SELECT
            u.user_id, u.nickname, u.avatar, u.status,
            a.identifier, a.auth_type,
            i.gender, i.phone, i.email, i.birthday, i.city, i.signature
        FROM sys_user u
                 LEFT JOIN user_auth a ON u.user_id = a.user_id
                 LEFT JOIN user_info i ON u.user_id = i.user_id
        WHERE u.user_id = #{userId} AND u.del_flag = 0
    </select>

</mapper>