<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlewin.system.mapper.UserAuthMapper">

    <select id="selectAdminLoginUser" resultType="com.littlewin.common.core.LoginDTO">
        SELECT
            u.user_id    AS userId,
            u.status     AS status,
            a.identifier AS username,
            a.credential AS password
        FROM sys_user u
                 JOIN user_auth a ON u.user_id = a.user_id
        WHERE a.identifier = #{username}
          AND a.auth_type = 'password'
          AND u.del_flag = 0    -- 仅查询未逻辑删除的用户
        LIMIT 1
    </select>

    <select id="selectWxLoginUserById" resultType="com.littlewin.common.core.LoginDTO">
        SELECT
            u.user_id    AS userId,
            u.status     AS status,
            a.identifier   AS username,
            ''           AS password  -- 微信用户没有后台密码，给空字符串
        FROM sys_user u
                 JOIN user_auth a ON u.user_id = a.user_id AND a.auth_type = 'wx_openid'
        WHERE u.user_id = #{userId}
          AND u.del_flag = 0
            LIMIT 1
    </select>

    <select id="checkIdentifierUnique" resultType="com.littlewin.common.core.LoginDTO">
        SELECT
            u.user_id    AS userId,
            u.status     AS status,
            a.identifier AS username,
            a.credential AS password
        FROM sys_user u
                 JOIN user_auth a ON u.user_id = a.user_id
        WHERE a.identifier = #{username}
    </select>



    <select id="selectMenuPermsByUserId" resultType="String">
        SELECT DISTINCT m.perms
        FROM sys_menu m
                 INNER JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 INNER JOIN sys_user_role ur ON rm.role_id = ur.role_id
                 INNER JOIN sys_role r ON ur.role_id = r.role_id
        WHERE ur.user_id = #{userId}
          AND r.status = 1
          AND m.perms IS NOT NULL
          AND m.perms != ''
    </select>

    <select id="selectMenuListByUserId" resultType="com.littlewin.system.domain.entity.SysMenu">
        SELECT DISTINCT m.*
        FROM sys_menu m
                 INNER JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 INNER JOIN sys_user_role ur ON rm.role_id = ur.role_id
                 INNER JOIN sys_role r ON ur.role_id = r.role_id
        WHERE ur.user_id = #{userId}
          AND r.status = 1
          AND m.menu_type IN ('M', 'C')
        ORDER BY m.parent_id, m.sort_order
    </select>

    <select id="selectButtonListByUserId" resultType="com.littlewin.system.domain.entity.SysMenu">
        SELECT
            m.menu_id,
            m.parent_id,
            m.perms,
            p.name AS parentName,
            p.title AS parentTitle
        FROM sys_menu m
                 LEFT JOIN sys_menu p ON m.parent_id = p.menu_id
                 INNER JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 INNER JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND m.menu_type = 'F'
          AND m.perms IS NOT NULL
          AND m.perms != ''
    </select>

    <select id="selectRoleKeysByUserId" resultType="String">
        SELECT DISTINCT r.role_key
        FROM sys_role r
                 INNER JOIN sys_user_role ur ON r.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND r.status = 1
    </select>

    <select id="selectFullUserInfoById" resultType="com.littlewin.system.domain.vo.UserInfoVO">
        SELECT
            u.user_id     AS userId,
            u.nickname    AS name,
            u.avatar      AS avatar,
            u.create_time AS createTime,
            a.identifier  AS account,
            i.gender,
            i.phone,
            i.email,
            i.birthday,
            i.city,
            i.signature
        FROM sys_user u
                 LEFT JOIN user_info i ON u.user_id = i.user_id
                 LEFT JOIN user_auth a ON u.user_id = a.user_id AND a.auth_type = 'password'
        WHERE u.user_id = #{userId}
          AND u.del_flag = 0
    </select>

    <update id="updateLoginInfo">
        UPDATE user_info
        SET last_login_ip = #{ip},
            last_login_time = #{loginTime}
        WHERE user_id = #{userId}
    </update>


    <update id="updateIdentifierByUserId">
        UPDATE user_auth
        <set>
            <if test="identifier != null and identifier != ''">
                identifier = #{identifier},
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>